<mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile  *ngFor="let photo of photos" colspan="1" rowspan="1">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title class="title">{{photo.title}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="photo.imageSource" [alt]="photo.title">
      <mat-card-content>
        <p class="contentText">
          {{photo.contentText}}
        </p>
      </mat-card-content>
    </mat-card>


  </mat-grid-tile>
</mat-grid-list>
