<div class="photo-page">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/flower1.jpg" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/flower3.jpg" />
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-fluid" src="./assets/images/flower2.jpg" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img class="img-fluid" src="./assets/images/flower5.jpg" />
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
