<br><br>
<mat-grid-list cols="3" row-height="600px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">Puppy</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/puppy.jpg" alt="Puppy">
      <mat-card-content>
        <p class="contentText">
          Here's a small puppy I found a picture of. :)
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">Koala</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/koala.jpg" alt="Puppy">
      <mat-card-content>
        <p class="contentText">
          Here's a small koala I found a picture of. :)
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="title">Sunrise</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/sunrise.jpg" alt="Puppy">
      <mat-card-content>
        <p class="contentText">
          Here's a sunrise I found a picture of. And now more text...
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
