<div class="about-page row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <p>
      I'm a software developer in Columbus, OH. My career began with a degree in mathematics, continued with a software bootcamp
      certificate, was kickstarted by a job at a healthcare startup, and has settled into being a consultant. Over the past
      5 years I have lived in 5 different states for at least 3 months each. I love to travel and experience new things.
      Swimming, kayaking, and hiking are a few of my favorite activities, but I still love winter for it's beautiful snow
      and downhill skiing opportunities!
    </p>
    <p>
      Recently I picked up photography as a creative hobby that encourages me to explore new places. Nature pictures, especially
      flowers, are my favorite but I'd like to start working on candids and portraits.
    </p>

  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/skiing.jpg" />

    </div>
    </div>
    <div class="col-md-2">
    <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/canoeing.jpg" />
    </div>
  </div>
</div>
