.about {
    // background-color: $ww-gray;
    margin-right: 400px;
    margin-left: 100px;
    font-size: 110%;
}

.card {
    margin: 40px 130px 40px 0;
    background-color: #D8D8D8;
  }

  md-card-title {
      font-size: 125%;
      font-weight: bold;
  }
