@import "./src/themes/styles.scss";

.about {
    font-size: 110%;
}

.card {
    // margin: 40px 130px 40px 0;
    background-color: $ww-light-gray;
    width: 300px;
    height: 500px;
  }

  md-card-title {
      font-size: 125%;
      font-weight: bold;
  }
