<div class="about-page row">
  <div class="col-md-2"></div>
    <div class="col-md-6">
        <p>
          Hi! I'm Winona Wixson, a software developer at HMB in Columbus, OH.
          My career in software development was a bit unconventional.
          I started by graduating with a degree in mathematics and went on to
          attend a software bootcamp, The Software Guild. Soon after, I landed in Columbus
          at a healthcare startup where I had to learn .Net on the fly and learn the ropes
          of startup life. My time there really helped me kickstart my career as I was given
          lots of opportunities to experience all aspects of the company. Most of my time
          was spent coding, but I dabbled in creating requirements, qa-ing, troubleshooting
          issues for customers and reporting feature statuses to the CEO.
          <br><br>
          After a year there, I decided it was time for a change to learn some new technologies
          and business domains as well as settle down on work hours. Consulting seemed to
          be the right choice for me and I landed at HMB where I've continued to grow as a developer
          and a professional. So far, my favorite project has been an Ionic/Angular mobile app for a
          sales team. I'm excited to see where this adventure takes me!
        </p>
    </div>
  </div>
