@import "./src/themes/styles.scss";

label,input {
  font-size: 80%;
}

label, textarea {
  display: inline;
}

.row-spacing {
  padding-top: 20px;
}

.error-label {
  font-size: 50%;
  color: $ww-purple;
}
