<div class="container-fluid">
  <div class="app-header row">
    <div class="col-md-2">
      <img class="img-fluid" src="./assets/images/winona.jpg" />
    </div>
    <div class="col-md-8">
      <div class="row">
          <div class="header col-md-8">
              Winona J. Wixson
            </div>
            <br />
            <nav class="col-md-8">
              <a routerLink="/home">home</a>
              <a routerLink="/about">about</a>
              <a routerLink="/photography">photography</a>
              <!-- <a routerLink="/math">math</a> -->
            </nav>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
