$ww-blue: rgba(68, 157, 209, 1);
$ww-dark-blue: rgba(27, 40, 69, 1);
$ww-peach: rgba(226, 200, 174, 1);
$ww-gray: rgba(226, 229, 233, 1);
$ww-light-gray: rgb(238, 241, 245);
$ww-purple: rgba(51, 30, 54, 1);
