@import "~bootstrap/scss/bootstrap-grid.scss";

$font-size-tiny:6pt;
$font-size-xxxxsmall:10pt;
$font-size-xxxsmall:11pt;
$font-size-xxsmall:12pt;
$font-size-xsmall:13pt;
$font-size-small:14pt;
$font-size-regular:16pt;
$font-size-large:18pt;
$font-size-xlarge:20pt;
$font-size-xxlarge:22pt;
$font-size-xxxlarge:24pt;

html {
  font-size: $font-size-xsmall;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-xxxsmall;
  }
  // $font-size-header: $font-size-xxsmall;
  // $font-size-mini: $font-size-tiny;
  // $font-size-normal: $font-size-xxxsmall;
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-xxsmall;
  }
  // $font-size-header: $font-size-small;
  // $font-size-mini: $font-size-xxxsmall;
  // $font-size-normal: $font-size-xxsmall;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-regular;
  }
  // $font-size-header: $font-size-xxlarge;
  // $font-size-mini: $font-size-xsmall;
  // $font-size-normal: $font-size-large;
}

@include media-breakpoint-up(xl) {
  html {
    font-size: $font-size-large;
  }
  // $font-size-header: $font-size-xxxlarge;
  // $font-size-mini: $font-size-small;
  // $font-size-normal: $font-size-xlarge;
}
