@import "./colors.scss";
@import "./fonts.scss";
/* You can add global styles to this file, and also import other style files */

body {
    background-color: $ww-gray;
    // font-family: Georgia, 'Times New Roman', Times, serif;
    color: $ww-dark-blue;
    /* 19647E; */
    /* border-left-color: #8E3B46;
    border-left: 40px; */
    font-size: $font-size-xsmall;
}
