/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fffff4;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    color: #19647E;
    /* 19647E; */
    /* border-left-color: #8E3B46;
    border-left: 40px; */
}