<div class="home-page row">
    <div class="col-md-2"></div>
  <div class="col-md-4">
    <!-- <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/family.jpg" />
    </div> -->
      <h3>Winona</h3>
      <p>(wi-no-na, think "win" not "why").</p>
      <p>Native American name meaning first born daughter.</p>
      <p>Named after my great-grandmother.</p>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="img-fluid" src="./assets/images/family2.jpg" />
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
